<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project of Raxmatilla Abduqodirov</title>
</head>
<body>
    <h1>University Timetable</h1>

    <form action="/" method="POST">
        <label for="level">Select Level:</label>
        <select name="level" id="level">
            <option value="Undergraduate">Undergraduate</option>
            <option value="Graduate">Graduate</option>
        </select>
        <button type="submit">Submit</button>
    </form>

</body>
</html>
